h1, h3 {
  border: 1px solid grey;
  text-align: center;
  font-family: fantasy;
}

p {
  font-family: fantasy;
  border: 1px solid grey;
}

#start {
  text-align: center;
  font-family: fantasy;
}

@-webkit-keyframes greenPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}

.button {
  line-height: -30px;
  font-family: fantasy;
  background-color: white;
  float: none;
  margin-right: 100px;
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

/*Researched how to do glowing buttons on the internets. W3Schools on CSS Animation!*/

.clear {
  border: 1px solid red;
  padding: 100px;
  text-align: center;
  font-family: fantasy;
}

#player1 {
  border: 1px solid green;
  float: left;
  padding-top: 300px;
  padding-left: 100px;
  font-family: fantasy;
  font-size: 20px;

}

#player2 {
  border: 1px solid green;
  float: right;
  padding-top: 300px;
  padding-right: 100px;
  font-family: fantasy;
  font-size: 20px;
}
