h1, h3 {
  text-align: center;
  font-family: fantasy;
}

p {
  font-family: fantasy;
  text-align: center;
}

#start {
  text-align: center;
  font-family: fantasy;
  margin: auto;
}

.button {
  line-height: -30px;
  font-family: fantasy;
  background-color: white;
  float: none;
  margin-right: 100px;
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  align-items: center;
  justify-content: center;
}

/*Researched how to do glowing buttons on the internets. W3Schools on CSS Animation!*/

.clear {
  padding: 100px;
  text-align: center;
  font-family: fantasy;
  opacity: 1;
  animation: fade 1s linear;
}

@keyframes fade {
  0%,100% {opacity: 0}
  100% {opacity: 1}
}

@-webkit-keyframes greenPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}
/*YAY fading the questions in*/

#player1 {
  float: left;
  padding-top: 300px;
  padding-left: 100px;
  font-family: fantasy;
  font-size: 20px;

}

#player2 {
  float: right;
  padding-top: 300px;
  padding-right: 100px;
  font-family: fantasy;
  font-size: 20px;
}
